<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="http://beta.adalab.es/resources/stylesheets/all.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <title>Ejemplo de páginas dinámicas con ExpressJS</title>
</head>

<body>
  <header class="header">
    <h1 class="title">Ada-blog</h1>
  </header>
  <main class="page">
    <h2 class="subtitle">Mujeres referentes</h2>
    <p class="subtitle">...que molan</p>

    <article class="content__profile">
      <h3>
        <%= name %>
      </h3>
      <p>
        <%= brief %>
          <img class="photo__profile" src="<%= image %>" alt="Una foto de <%= name %>" />

      </p>
      <%= description %>
    </article>
    <p class="menu__bottom">
      <a href="/">Volver</a>
    </p>
  </main>
  <script src="/js/main.js"></script>
</body>

</html>